{% extends 'base.html' %}

{% block content %}

    {% for sm in sale_manager %}
        <ul>
            <li>
            <a href="{{sm.get_absolute_url}}">
                {{ sm }}
            </a>
            {% for cust in customer %}
                <ul>
                    {% if cust.sale_manager == sm.user.username %}
                        <li>
                            <a href="{{cust.get_absolute_url1}}">
                                {{cust}} <span style="color:grey"></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endfor %}
            </li>
        </ul>
    {% endfor %}

{% endblock %}