{% extends 'base.html' %}

{% block content %}

    <hr/>
    <div class="container">
        Name: {{instance.name}}<br/>
        Sales Manager: {{instance.sale_manager}}<br/>
        Mobile: {{instance.mobile}}<br/>
        Address: {{instance.address}}<br/>
        {% if request.user.is_superuser %}
            <a href="{{instance.get_absolute_url1}}edit">Edit</a>
            <a href="#myModal" class="trigger-btn btn btn-danger btn-sm" data-toggle="modal">
                Delete
            </a>
            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="icon-box">
                                <i class="material-icons">&#xE5CD;</i>
                            </div>
                            <h4 class="modal-title">Are you sure?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                        <div class="modal-body">
                            <p>Do you really want to delete these records? This process cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-info" data-dismiss="modal">Cancel</a>
                            <a href="{{instance.get_absolute_url}}delete" class="btn btn-info">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <hr/>

{% endblock %}