{% extends 'base.html' %}

{% block content %}

    {% for sm in sale_manager %}
        <ul>
            <li>
            {{sm}} <span style="color:grey">(salesmanager)</span>
            {% for cust in customer %}
                <ul>
                    {% if cust.sale_manager == sm.user.username %}
                        <li>
                            {{cust}} <span style="color:grey">(customer)</span>
                        </li>
                    {% endif %}
                </ul>
            {% endfor %}
            </li>
        </ul>
    {% endfor %}

{% endblock %}