{% extends 'base.html' %}
{% block content %}
    <!--{{ request.user }}<br/>-->
    <!--{{ admin }}<br/>-->
    <!--{{ manager }}<br/>-->
    <!--{{ men }}<br/>-->

    <!--<br/>-->
    <!--{% if request.user.is_superuser %}-->
        <!--<a href="{{request.user.profile.get_absolute_url}}">-->
            <!--{{ request.user.profile.first_name}} {{ request.user.profile.last_name}}-->
        <!--</a>-->
        <!--<ul>-->
            <!--{% for j in manager %}-->
                <!--<li>-->
                    <!--<a href="{{j.get_absolute_url}}">-->
                        <!--{{j.first_name}} {{j.last_name}}-->
                    <!--</a>-->
                    <!--<ul>-->
                        <!--{% for k in men %}-->
                            <!--{% if k.sale_manager == j.user.username %}-->
                                <!--<li>-->
                                    <!--<a href="{{k.get_absolute_url}}">-->
                                        <!--{{k.first_name}} {{k.last_name}}-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--{% endif %}-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% elif request.user.profile.user_type == 'salesmanager' %}-->
        <!--<a href="{{request.user.profile.get_absolute_url}}">-->
            <!--{{ request.user.profile.first_name}} {{ request.user.profile.last_name }}<br/>-->
        <!--</a>-->
        <!--<ul>-->
            <!--{% for j in manager %}-->
                <!--{% if j.user.username == request.user.username %}-->
                    <!--{% for k in men %}-->
                        <!--{% if k.sale_manager == j.user.username %}-->
                            <!--<li>-->
                                <!--<a href="{{k.get_absolute_url}}">-->
                                    <!--{{k.first_name}} {{k.last_name}}-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--{% endif %}-->
                    <!--{% endfor %}-->
                <!--{% endif %}-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% else %}-->
        <!--<a href="{{request.user.profile.get_absolute_url}}">-->
            <!--{{ request.user.profile.first_name}} {{ request.user.profile.last_name }}<br/>-->
        <!--</a>-->
    <!--{% endif %}-->

<div class="container" style="margin:0px;padding:0px 0px 0px 0px;">
    <div class="col-sm-6">
        <h5>
            <i class="glyphicon glyphicon-user">
                ALL-USER
            </i>
        </h5>
    </div>
    <div class="col-sm-6" align="right">
        <a href="{{request.user.get_absolute_url}}">
            <h5>
                {{request.user}}
            </h5>
        </a>
    </div>
</div>
<hr/>

<div class="container" style="margin:0px;padding:0px 0px 0px 0px;" align="right">
    <a href="{% url 'main:signup' %}" class="btn btn-info">
        <i class="glyphicon glyphicon-plus"></i> Create New
    </a>
</div>

<h2>
    SALES-MANAGER
</h2>
<table class="table" align="center">
    <thead>
        <tr>
            <th>
                NAME
            </th>
            <th>
                E-MAIL
            </th>
            <th>
                STATUS
            </th>
            <th>
                USER ROLE
            </th>
            <th>
                USERNAME
            </th>
        </tr>
    </thead>
    {% for j in manager %}
        <tbody>
            <tr>
                <td>
                    {{j.first_name}} {{j.last_name}}
                </td>
                <td>
                    {{j.email}}
                </td>
                <td>
                    {{j.status}}
                </td>
                <td>
                    {{j.user_type}}
                </td>
                <td>
                    <a href="{{j.get_absolute_url}}">
                        {{j.user.username}}
                    </a>
                     &nbsp; &nbsp;
                    <a href="{{j.get_absolute_url}}edit" class="btn btn-info btn-sm">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                     &nbsp; &nbsp;
                    <a href="#myModal1" class="trigger-btn btn btn-danger btn-sm" data-toggle="modal">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>
<br/>

<h2>
    SALESMEN
</h2>
<table class="table" align="center">
    <thead>
        <tr>
            <th>
                NAME
            </th>
            <th>
                E-MAIL
            </th>
            <th>
                STATUS
            </th>
            <th>
                USER ROLE
            </th>
            <th>
                SALES-MANAGER
            </th>
            <th>
                USERNAME
            </th>
        </tr>
    </thead>
    {% for j in manager %}
        {% for k in men %}
            {% if k.sale_manager == j.user.username %}
                <tr>
                    <td>
                        {{k.first_name}} {{k.last_name}}
                    </td>
                    <td>
                        {{k.email}}
                    </td>
                    <td>
                        {{k.status}}
                    </td>
                    <td>
                        {{k.user_type}}
                    </td>
                    <td>
                        {{k.sale_manager}}
                    </td>
                    <td>
                        <a href="{{k.get_absolute_url}}">
                            {{k.user.username}}
                        </a>
                         &nbsp; &nbsp;
                        <a href="{{k.get_absolute_url}}edit" class="btn btn-info btn-sm">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                         &nbsp; &nbsp;
                        <a href="#myModal2" class="trigger-btn btn btn-danger btn-sm" data-toggle="modal">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

<div id="myModal1" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-info" data-dismiss="modal">Cancel</a>
                <a href="{{instance.get_absolute_url}}delete" class="btn btn-info">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-info" data-dismiss="modal">Cancel</a>
                <a href="{{instance.get_absolute_url}}delete" class="btn btn-info">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}