{% extends 'base.html' %}

{% block content %}



<div class="container" style="margin:0px;padding:0px 0px 0px 0px;">
    <div class="col-sm-6" style="color:grey;font-family:">
        <h2>
            <b>MESSAGE</b>
        </h2>
    </div>
    {% if request.user.is_superuser %}
        <div class="col-sm-6" align="right" style="margin-top:15px;">
            <a href="{% url 'msg:msg_add' %}" class="btn btn-info">
                <i class="glyphicon glyphicon-plus"></i> Create New
            </a>
        </div>
    {% endif %}
</div>
<hr/>

<h3>
    <span style="color:#1dadc6;font-family:serif">Top News</span>
</h3>
<table class="table table-striped table-bordered table-hover" align="center">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                POSTED BY
            </th>
            <th>
                POSTED ON
            </th>
            <th>
                VIEW
            </th>
            <th>
                EDIT
            </th>
            <th>
                DELETE
            </th>
        </tr>
    </thead>
    {% for m in msg %}
        <tbody>
            <tr>
                <td>
                    {{m.user}}
                </td>
                <td>
                    {{m.timestamp}}
                </td>
                <td>
                    <a href="{{m.get_absolute_url}}" class="btn btn-info btn-sm" style="align:right;">
                        view
                    </a>
                </td>
                <td>
                    <a href="{{m.get_absolute_url}}edit" class="btn btn-info btn-sm" style="align:right;">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td>
                    <a href="{{m.get_absolute_url}}delete" class="btn btn-danger btn-sm" style="align:right;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>
<br/>


<!--{% if request.user.is_superuser %}-->
    <!--<a href="{% url 'msg:msg_add' %}" class="btn btn-success btn-sm">-->
        <!--Add-->
    <!--</a>-->
<!--{% endif %}-->
<!--<hr/>-->
<!--{% for m in msg %}-->
    <!--<a href="{{m.get_absolute_url}}" class="btn btn-default">-->
        <!--{{m}}-->
    <!--</a>-->
    <!--<hr/>-->
<!--{% endfor %}-->

{% endblock %}