{% extends 'base.html' %}
{% block content %}


<h3>
    <span style="color:#1dadc6;font-family:serif">Messages of {{instance}}</span>
</h3>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                USER
            </th>
            <th>
                POSTED ON
            </th>
            <th>
                VIEW
            </th>
        </tr>
    </thead>
    {% for msg in msg %}
        <tr>
            <td>
                {{msg.user}}
            </td>
            <td>
                {{msg.timestamp}}
            </td>
            <td>
                <a href="{{msg.get_absolute_url}}" class="btn btn-default btn-sm">
                    view
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<br/>


{% for msg in msg %}

{% endfor %}

{% endblock %}