{% extends 'base.html' %}
{% block content %}

Product - {{instance.product}}<br/>
Customer - {{instance.customer}}<br/>
<a href="{% url 'order:order_edit' instance.id %}">Edit</a>.     .
<a href="#myModal" class="trigger-btn btn btn-danger btn-sm" data-toggle="modal">
    Delete
</a>

<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE5CD;</i>
				</div>
				<h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    </div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<a type="button" class="btn btn-info" data-dismiss="modal">Cancel</a>
                <a href="{% url 'order:order_delete' instance.id %}" class="btn btn-info">Delete</a>
                    Delete
                </a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
