{% extends 'base.html' %}
{% block content %}



<div class="container" style="margin:0px;padding:0px 0px 0px 0px;">
    <div class="col-sm-6" style="color:grey;font-family:">
        <h2>
            <b>ORDER</b>
        </h2>
    </div>
    {% if request.user.is_superuser %}
        <div class="col-sm-6" align="right" style="margin-top:15px;">
            <a href="{% url 'order:new_order' %}" class="btn btn-info">
                <i class="glyphicon glyphicon-plus"></i> Create New
            </a>
        </div>
    {% endif %}
</div>
<hr/>

<h3>
    <span style="color:#1dadc6;font-family:serif">Top News</span>
</h3>
<table class="table table-striped table-bordered table-hover" align="center">
    <thead style="background-color:black;color:white">
        <tr>
            <th>
                CUSTOMER
            </th>
            <th>
                PAYMENT DATE
            </th>
            <th>
                AMOUNT
            </th>
            <th>
                PAYMENT TYPE
            </th>
            <th>
                VIEW
            </th>
            <th>
                EDIT
            </th>
            <th>
                DELETE
            </th>
        </tr>
    </thead>
    {% for pay in payment %}
        <tbody>
            <tr>
                <td>
                    {{pay.customer}}
                </td>
                <td>
                    {{pay.date}}
                </td>
                <td>
                    {{pay.amount}}
                </td>
                <td>
                    {{pay.payment_type}}
                </td>
                <td>
                    <a href="{% url 'payment:payment_details' pay.id %}" class="btn btn-info btn-sm" style="align:right;">
                        view
                    </a>
                </td>
                <td>
                    <a href="{% url 'payment:payment_edit' pay.id %}" class="btn btn-info btn-sm" style="align:right;">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'payment:payment_delete' pay.id %}" class="btn btn-danger btn-sm" style="align:right;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>
<br/>


<!--<hr/>-->
<!--{% for pay in payment %}-->
    <!--<a href="{% url 'payment:payment_details' pay.id %}" class="btn btn-defualt">-->
        <!--{{pay}}-->
    <!--</a>-->
<!--{% endfor %}-->

{% endblock %}
